#my-block {
  background-color : lightgrey
}
.cla-1{
  color : white
}
.cla-2{
  font-size : 30px
}
#jqlee h1 {
	color: red;
	font-size: 20px;
}

#jqlee p {
	color : green;
	font-size: 10px;
}

#jqlee img {
	height:200px;
	width:200px;
}
